<table class="table">

    <thead>
    <tr>
        <th width="30%">Name</th>
        <th width="40%">Spieler</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    {{#each model as |team|}}
        <tr>
            <td>{{team.name}}</td>
            <td>
                {{#each team.members as |member|}}
                    {{member.name}}
                {{/each}}
            </td>
            <td>

            </td>
        </tr>
    {{/each}}
    </tbody>

</table>

{{outlet}}
