<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                {{#link-to "kicker.dashboard"}}Kicker{{/link-to}}
            </li>
            <li>
                {{#link-to "kicker.dashboard"}}Dashboard{{/link-to}}
            </li>
            <li>
                {{#link-to "kicker.teams.overview"}}Meine Teams{{/link-to}}
            </li>
            <li>
                {{#link-to "kicker.leagues.overview"}}Meine Ligen{{/link-to}}
            </li>
            <li>
                {{#link-to "kicker.score-boards"}}Tabellen{{/link-to}}
            </li>
            <li>
                {{#link-to "kicker.admin"}}Admin{{/link-to}}
            </li>
            <li>
                <a {{action 'logout'}}>Logout</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid" style="padding: 0">
            {{outlet}}
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
