<table class="table">

    <thead>
    <tr>
        <th width="30%">Name</th>
        <th width="40%">Spieler</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    {{#each myLeagues as |league|}}
        <tr>
            <td>{{league.name}}</td>
            <td>
                -
            </td>
            <td>

            </td>
        </tr>
    {{/each}}
    </tbody>

</table>

{{outlet}}
