<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            {{#link-to "kicker.leagues.overview" class="navbar-brand"}}Ligen{{/link-to}}
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>{{#link-to "kicker.leagues.overview"}}Übersicht{{/link-to}}</li>
                <li>{{#link-to "kicker.leagues.create"}}Anlegen{{/link-to}}</li>
            </ul>
        </div>
    </div>
</nav>
{{outlet}}
