<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            {{#link-to "kicker.teams.overview" class="navbar-brand"}}Meine Teams{{/link-to}}
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>{{#link-to "kicker.teams.overview"}}Übersicht{{/link-to}}</li>
                <li>{{#link-to "kicker.teams.create"}}Anlegen{{/link-to}}</li>
                <li>{{#link-to "kicker.teams.invitations"}}Einladungen ({{model.length}}){{/link-to}}</li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
{{outlet}}
